@charset "UTF-8";

@font-face {
  font-family: "SourceHanSansCN-Normal";
  src: url("SourceHanSansCN-Normal.woff2") format("woff2"),
       url("SourceHanSansCN-Normal.woff") format("woff"),
       url("SourceHanSansCN-Normal.ttf") format("truetype"),
       url("SourceHanSansCN-Normal.eot") format("embedded-opentype"),
       url("SourceHanSansCN-Normal.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}